
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Poppins:wght@400;500&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.btn-cta {
  background-color: hsl(180, 66%, 49%);
  color: whitesmoke;
  padding: .5rem .8rem;
  font-weight: 500;
  font-size: .85rem;
  flex-shrink: 0;
  border-radius: .5rem;
}


/* Header  */

header {
  padding-top: 2.5rem;
}
@media (max-width: 768px) {
  header {
    padding-top: 1.5rem;
  }
}


/* Hero */
.hero {
  overflow: hidden;
  padding-bottom: 9rem;
}

.hero-image {
  width: 130%;
}

.title {
  width: 80%;
  margin: auto;
  font-weight: 700;
}

.subtitle {
  color: rgb(158,154,167);
  width: 85%;
  font-weight: 500;
  text-align: center;
  margin: auto;
}

@media (min-width: 900px) {
  .hero {
    padding-left: 9%;
    overflow: hidden;
    padding-bottom: 8rem;
  }
  .hero-inner {
    grid-template-columns: 45% 55%;
  }
  .site-desc {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .hero .title {
    text-align: start;
    margin: 0;
    font-size: 5rem;
    line-height: 4.5rem;
  }
  .hero .subtitle {
    text-align: start;
    margin: 0;
    font-size: 1.1rem;
  }
}

/* Main  */

main {
  background-color: rgb(239,240,245);
  padding-top: 8rem;
  position: relative;
}

.cta {
  background: url('./images/bg-boost-mobile.svg');
  background-color: hsl(257, 27%, 26%);
  height: 12rem;
  background-size: contain;
}

.cta h2 {
  max-width: 100%;
}

.cta .btn-cta {
  padding: .7rem .4rem;
  font-size: 1rem;
  width: 9rem;
}

.btn-cta:hover {
  opacity: .75;
  transition: all;
  transition-duration: 200ms;
}

@media (min-width: 768px) {
  main {
    padding-top: 7rem;
  }
  .cta {
    background: url('./images/bg-boost-desktop.svg');
    background-color: hsl(257, 27%, 26%);
    background-size: cover;
  }
  .stats {
    padding-bottom: 5rem;
  }
}

/* Shortener  */
.shortener {
  background: url('./images/bg-shorten-desktop.svg');
  background-color: hsl(257, 27%, 26%);
  width: 84%;
  margin: auto;
  margin-bottom: 4rem;
  border-radius: .375rem;
  display: grid;
  place-items: center;
  padding:2.5rem 1.5rem;

  position: absolute;
  top: -4.5rem;
  left: 50%;
  transform: translate(-50%);
}

.shortener * {
  border-radius: .5rem;
}

form {
  width: 92%;
  min-height: 42%;
  display: grid;
  grid-template-columns: auto 14%;
  gap: 2.5rem;
  box-sizing: border-box;
}

input {
  width: 100%;
  height: 110%;
  padding: 1rem;
}

form .btn-cta {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
}

.warning {
  display: none;
  color: red;
}

@media (max-width: 900px) {
  .shortener {
    background-image: url('./images/bg-shorten-mobile.svg');
    background-size: cover;
    width: calc(100% - 8%);
    padding: 2rem 1rem;
    top: -6rem;
  }
  form {
    grid-template-columns: 1fr;
  }
}


/* Link List  */
.short-url {
  color: hsl(180, 66%, 49%);
}

.short-url:hover, .full-url:hover {
   opacity: .5;
}

.urlList{
    text-align:justify;
    background-color: white;
    border-radius: 2px black; 
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}